*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body{
	width:100%;
	height:100%;
	overflow: hidden;
	background: #cccccc;
	font:12px/20px arial,sans-serif;
}
input{
	outline: none;
}
img{
	vertical-align: middle;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.lf{
	float:left
}
.clear{
	overflow: hidden;
}
.textcenter{
	text-align: center;
}
 #container{
 	width: 100%;
 	height: 100%;
 	overflow: hidden;
 	z-index:100;
 }
 #viewOuter{
 	width: 200%;
 	height:100%;
 	overflow: hidden;
 	position: relative;
 }
#viewOuter>div{
	width: 50%;
	float: left;
	background: #CCCCCC;
	position: relative;
	z-index: 100;
	overflow: hidden;
}
#viewOuter div.page-inner{
	width:100%;
	
}
 /*页面滑动动画*/
/* rotate and fall */
@keyframes rotateFall {
  0%     { transform: rotateZ(0deg); }
  20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%   { transform: rotateZ(17deg); }
  60%   { transform: rotateZ(16deg); }
  100%   { transform: translateY(100%) rotateZ(17deg); }
}
  
/* slide in from the bottom */
@keyframes slideOutLeft {
  to     { transform: translateX(-100%); }
}
  
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to     { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
  
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from   { opacity: 0.3; -webkit-transform: scale(0.8); }
}
  
/* slide in from the right */
@keyframes slideInRight {
  from   { transform:translateX(0); }
  to     { transform: translateX(-100%); }
}
  
/* slide in from the bottom */
@keyframes slideInUp {
  from   { transform:translateY(100%); }
  to     { transform: translateY(0); }
}
 .ng-enter     { z-index: 8888; }
 .ng-leave     { z-index: 9999; }
  
  /* page specific animations ------------------------ */
  
  /* home -------------------------- */
  .page-animate.ng-enter     { animation: slideInRight 0.5s both ease-in;}
  .page-animate.ng-leave     { transform-origin: 0% 0%; animation: slideOutLeft 0.5s both ease-in;}
/*导航按钮*/
#menu-button{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
#menu-button img{
	border-radius: 10px;
	box-shadow: 0 0 8px #666666;
}
/*左侧导航*/
#menu-left{
	width:100%;
	height: 100%;
	background: red;
	position: absolute;
	top:0;
	left: -50px;
}
#menu-left ul li{
	height: 30px;
	line-height: 30px;
}
@keyframes slideRightView{
  from   { transform:translateX(0); }
  to     { transform: translateX(80%); }
}
@keyframes slideLeftView{
  from   { transform:translateX(80%); }
  to     { transform: translateX(0); }
}
@keyframes slideRightMenu{
  from   { left:-50px}
  to     { left:0; }
}
@keyframes slideLeftMenu{
  from   { left:0px}
  to     { left:-50px; }
}
#menu-left.active{
	animation: slideRightMenu 0.5s both ease-in;
}
#menu-left.close{
	animation: slideLeftMenu 0.5s both ease-in;
}
#viewOuter>div.active{
	animation: slideRightView 0.5s both ease-in;
}
#viewOuter>div.close{
	animation: slideLeftView 0.5s both ease-in;
}
