*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
	width:100%;
	height:100%;
	overflow: hidden;
	font:14px/20px arial,sans-serif;
	color:#666666;
}
input{
	outline: none;
}
img{
	vertical-align: middle;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color:#333333;
}
.lf{
	float:left
}
.rt{
	float: right;
}
.clear{
	overflow: hidden;
}
.textcenter{
	text-align: center;
}
.boxshadow{
	box-shadow: 0 0 8px #555555;
	-webkit-box-shadow: 0 0 7px #555555;
}
.borderRadius10{
	border-radius: 10px;
	-webkit-border-radius: 10px;
}
.borderRadius5{
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
.buttonColor{
	color: #446485;
	font-size: 0.8em;
}
/*ng-view外层框*/
 #viewOuter{
 	width: 200%;
 	height:100%;
 	overflow: hidden;
 }
/*#viewOuter*/ div.page-inner{
	position: relative;
	width:100%;
	height: 100%;
	/*float: left;*/
	background:url("../img/main-bg.jpg") no-repeat;
	background-size:cover ;
	z-index: 100;
}
 /*页面滑动动画*/
/* rotate and fall */
@keyframes rotateFall {
  0%     { transform: rotateZ(0deg); }
  20%   { transform: rotateZ(10deg); animation-timing-function: ease-out; }
  40%   { transform: rotateZ(17deg); }
  60%   { transform: rotateZ(16deg); }
  100%   { transform: translateY(100%) rotateZ(17deg); }
}
  
/* slide in from the bottom */
@keyframes slideOutLeft {
  to     { transform: translateX(-100%); }
}
  
/* rotate out newspaper */
@keyframes rotateOutNewspaper {
  to     { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
  
/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
  from   { opacity: 0.3; -webkit-transform: scale(0.8); }
}
  
/* slide in from the right */
@keyframes slideInRight {
  to     { transform: translateX(); }
}
  
/* slide in from the bottom */
@keyframes slideInUp {
  from   { transform:translateY(100%); }
  to     { transform: translateY(0); }
}
 .ng-enter     { z-index: 8888; }
 .ng-leave     { z-index: 9999; }
  
  /* page specific animations ------------------------ */
  
  /* home -------------------------- */
  .page-animate.ng-enter     { animation: slideInRight 0.3s both ease-in;}
  .page-animate.ng-leave     { transform-origin: 0% 0%; animation: slideOutLeft 0.3s both ease-in;}
/*导航按钮*/
#menu-button{
	position: absolute;
	bottom: 15px;
	left: 20px;
}
#menu-button img{
	width: 55px;
	border-radius: 10px;
	box-shadow: 0 0 8px #666666;
}
@keyframes slideRightView{
  from   { transform:translateX(0); }
  to     { transform: translateX(70%); }
}
@keyframes slideLeftView{
  from   { transform:translateX(70%); }
  to     { transform: translateX(0); }
}
@keyframes slideRightMenu{
  from   { left:-50px}
  to     { left:0; }
}
@keyframes slideLeftMenu{
  from   { left:0px}
  to     { left:-50px; }
}
/*左侧导航*/
#menu-left{
	width:70%;
	height: 100%;
	background: url("../img/menu-left-bg.jpg") no-repeat;
	background-size:100% 100%;
	position: fixed;
	top:0;
	left: -50px;
	z-index:10;
}
#menu-left-inner{
	width: 100%;
	height: 100%;
	padding:30px 20px;
	background: rgba(255,255,255,0.3);
}
#menu-left ul li{
	font-size: 1.1em;
	font-weight: 600;
	height: 40px;
	line-height: 40px;	
}
#menu-left ul li a{
	color: #632A19;
}
#menu-left ul li a{
	line-height: 25px;
}
#menu-left ul li a img{
	vertical-align: sub;
	margin-right: 8px;
	width: 22px;
}
#menu-left.active{
	animation: slideRightMenu 0.3s both ease-in;
}
#menu-left.close{
	animation: slideLeftMenu 0.3s both ease-in;
}
/*#viewOuter*/ div.page-inner.active{
	animation: slideRightView 0.3s both ease-in;
}
/*#viewOuter*/ div.page-inner.close{
	animation: slideLeftView 0.3s both ease-in;
}
/*店铺主页*/
#start,#order{
	width: 100%;
	height: 100%;
	overflow-y:auto;
	background: rgba(200,200,200,0.5);
	padding-bottom: 65px;
}
#start div.wellcome-img{
	padding-top:20px;
}
#start div.wellcome-img img{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0 0 8px #555555;
	-webkit-box-shadow: 0 0 8px #555555;
}
#start div.wellcome-img p.name{
	font-size: 1.5em;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	letter-spacing: 1.2px;
}
#start div.wellcome-img p.weChat{
	height:25px;
	line-height: 25px;
	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1.3px;
}
#start div.wellcome-img p.weChat span{
	color:#BC5253;
}
#start div.favourable,#start div.storeMsg,#start div.evaluate{
	width:90%;
	margin: 20px auto;
	border-radius: 5px;
	border:1px solid #999999;
	background: rgba(255,255,255,0.7);
	padding:0 10px;
}
#start div.favourable div.youhui-title,#start div.storeMsg div.storeMsg-title,#start div.evaluate div.evaluate-title{
	height: 40px;
	line-height: 40px;
	border-bottom:1px dashed #999999;
	font-size: 1.3em;
	
}
#start div.favourable div.youhuiquan{
	width: 90%;
	margin:10px auto;
}
#start div.favourable div.youhuiquan p{
	font-size: 1em;
}
#start div.favourable div.youhuiquan p:first-child{
	font-size: 1.3em;
	color:red;
}
#start div.storeMsg div.jianjiecon{
	margin: 0 auto;
	padding:10px;
	border-bottom:1px dashed #999999;
}
#start div.storeMsg ul{
	padding:10px;
}
#start div.storeMsg ul li{
	height:25px;
	line-height: 25px;
}
#start div.storeMsg div.jianjie-title,#start div.evaluate div.evaluate-title{
	padding-top:10px;
	font-size: 1.1em;
}
#start div.evaluate{
	overflow: hidden;
}
#start div.evaluate ul.star,#evaluate div.evaluateCon ul.star{
	width: 100%;
	overflow: hidden;
	padding-bottom:10px;
	border-bottom: 1px dashed #999999;
}
#start div.evaluate ul.star li{
	width: 100%;
}
#start div.evaluate ul.star li p{
	margin-right: 10px;
}
#start div.evaluate ul.star li p:last-child{
	color: red;
}
#evaluate div.evaluateCon ul.star li{
	width: 33.3%;
}
#start div.evaluate ul.star li img,#evaluate div.evaluateCon ul.star li img{
	width: 12px;
}
#start div.evaluate ul.evaluate-lists li,#evaluate div.evaluateCon ul.evaluate-lists li{
	border-bottom: 1px dashed #999999;
	padding-top:5px
}
#start div.evaluate ul.evaluate-lists li p.username img,#evaluate div.evaluateCon ul.evaluate-lists li p.username img{
	border-radius: 50%;
}
#start div.evaluate ul.evaluate-lists li p.rt,#evaluate div.evaluateCon ul.evaluate-lists li p.rt{
	height: 50px;
	line-height: 50px;
}
#start div.evaluate ul.evaluate-lists li p.rt img,#evaluate div.evaluateCon ul.evaluate-lists li p.rt img{
	width: 13px;
}
#start div.evaluate ul.evaluate-lists li p:last-child,#evaluate div.evaluateCon ul.evaluate-lists li p:last-child{
	line-height: 20px;
	padding-right: 5px;
	margin-top:5px
}
#start div.evaluate ul.evaluate-lists li p.evaluate-imgs img,#evaluate div.evaluateCon ul.evaluate-lists li p.evaluate-imgs img{
	width: 20%;
	max-width: 100px;
	padding:0 2px;
}
#start div.evaluate div.evaluate-more{
	height: 35px;
	line-height: 35px;
}
#start div.evaluate div.evaluate-more a{
	display: block;
	width: 100%;
	height: 100%;
}
/*点餐按钮*/
#order-button{
	width: 55px;
	position: absolute;
	bottom: 15px;
	right: 20px;	
}
#order-button img{
	border-radius: 10px;
}
/*点餐页面*/
#order{
	padding-bottom: 0;
}
/*搜索框*/
#order .search{
	z-index: 100;
}
#order .search,#order .style{
	background: linear-gradient(to bottom,#F4F7FA,#C5D1DF);
	width:39px;
	position: absolute;
	top:10px;
	right: 20px;
	border-radius: 50%;
}
#order .style{
	right:70px;
	height: 39px;
	line-height: 39px;
	z-index: 99;
}
#order .style img{
	width: 20px;
}
#order .search span{
	padding:7px;
	width: 39px;
	height: 39px;
}
#order .search input{
	width:0;
	height:0;
	padding:0 10px;
	line-height: 35px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border:0;
}
#order .search span img{
	width: 25px;
}
/*添加open动画*/
@-webkit-keyframes opensearch{
	to{
		width:100%;
		padding:12px 30px 12px 30px;
		top:0px;
		right: 0px;
		background: rgba(142,100,93,0.8);
		border-radius: 0;
	}
}
@-webkit-keyframes openinput{
	to{
		width:-webkit-calc(100% - 42px);
		height:35px;
		border:1px solid #643E37;
	}
}
@-webkit-keyframes openspan{
	to{
		width:42px;
		height: 35px;
		padding:4px 8px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border:1px solid #643E37;
		border-left: none;
	}
}
#order .search.active{
	animation: opensearch 0.3s;
	-webkit-animation-fill-mode:forwards;
}
#order .search.active input{
	animation: openinput 0.3s;
	-webkit-animation-fill-mode:forwards;
}
#order .search.active span{
	animation: openspan 0.3s;
	-webkit-animation-fill-mode:forwards;
}
/*添加close动画*/
@-webkit-keyframes closesearch{
	from{
		width:100%;
		padding:10px 30px 10px 30px;
		top:0px;
		right: 0px;
		background: rgba(142,100,93,0.8);
		border-radius: 0;
	}
	to{
		background: linear-gradient(to bottom,#F4F7FA,#C5D1DF);
		width:39px;
		height:39;
		position: absolute;
		top:10px;
		right: 20px;
		border-radius: 50%;
	}
}
@-webkit-keyframes closeinput{
	from{
		width:-webkit-calc(100% - 42px);
		height:35px;
	}
	to{
		width:0;
		height:0;
	}
}
@-webkit-keyframes closespan{
	from{
		width:42px;
		height: 35px;
		padding:4px 8px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		border:1px solid #643E37
		border-left: none;
	}
	to{
		width: 39px;
		height: 39px;
		padding:7px;
	}
}
#order .search.close{
	animation: closesearch 0.3s;
	-webkit-animation-fill-mode:forwards;
}
#order .search.close input{
	animation: closeinput 0.3s;
	-webkit-animation-fill-mode:forwards;
}
#order .search.close span{
	animation: closespan 0.3s;
	-webkit-animation-fill-mode:forwards;
}
/*欢迎光临页头*/
#order div.wellcome-title{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 60px;
	background:rgba(71,23,13,0.8);
	padding-left: 20px;
	padding-bottom: 5px;
	transition: all 0.3s;
}
#order div.wellcome-title.active{
	top:0;
}
#order div.wellcome-title.close{
	top:-60px;
}
/*菜单列表*/
#dishItems{
	background:rgba(255,255,255,0.7);
	padding:65px 0;
	width: 100%;
	height:100%;
	overflow-y: auto;
}
#dishItems div.dishItem{
	margin-bottom: 10px;
}
/*小图显示*/
#dishItems div.dishItem>p{
	font-size: 1.3em;
	height:30px;
	line-height: 30px;
	border-bottom: 1px solid saddlebrown;
}
#dishItems div.dishItem ul{
	height: 60px;
	padding:5px 0 5px 10px;
	padding-left: 10px;
	border-bottom: 1px solid saddlebrown;
	background: #FFFFFF;
}	
#dishItems div.dishItem ul li.dish-img{
	margin-right: 10px;
}
#dishItems div.dishItem ul li.dish-img img{
	width: 80px;
	height:50px;
}
#dishItems div.dishItem ul li.dish-msg{
	width: -webkit-calc(100% - 100px);
}
#dishItems div.dishItem ul li.dish-msg p{
	font-size: 1.1em;
	
}
#dishItems div.dishItem ul li.dish-msg p:first-child{
	height: 20px;
}
#dishItems div.dishItem ul li.dish-msg p:last-child{
	height: 30px;
	padding-top:3px;
}
#dishItems div.dishItem ul li.dish-msg p.dish-name{
	font-weight: bold;
}
#dishItems div.dishItem ul li.dish-msg p span.dish-price{
	padding-top:5px;
	color:red;
	font-siae:1em;
}
#dishItems div.dishItem ul li.dish-msg p a.add-cart{
	padding:3px 12px;
	background: #E5004B;
	border:1px solid #B4083E;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color:#333333;
}
#dishItems div.dishItem ul li.dish-msg p a.add-cart img{
	display: none;
}
/*大图显示*/
#dishItems.active div.dishItem>p{
	border:none;
}
#dishItems.active div.dishItem ul{
	float: left;
	width:-webkit-calc(50% - 3px);
	background: #FFFFFF;
	margin-bottom: 5px;
	padding:5px;
	border:none;
	height: auto;
}
#dishItems.active div.dishItem ul:nth-child(even){
	margin-right: 3px;
}
#dishItems.active div.dishItem ul:nth-child(odd){
	margin-left: 3px;
}
#dishItems.active div.dishItem ul li:last-child{
	padding:0 10px;
}
#dishItems.active div.dishItem ul li.dish-msg,#dishItems.active div.dishItem ul li.dish-img{
	float:none;
	width:100%;
}
#dishItems.active div.dishItem ul li.dish-msg>p{
	float: none;
	width: 100%;
}
#dishItems.active div.dishItem ul li.dish-img img{
	width: 100%;
	height: auto;
}
#dishItems.active div.dishItem ul li.dish-msg p{
	line-height: 25px;
}
#dishItems.active div.dishItem ul li.dish-msg p span.dish-price{
	padding-top:0px;
}
#dishItems.active div.dishItem ul li.dish-msg p:last-child{
	height: 33px;
	line-height: 33px;
}
#dishItems.active div.dishItem ul li.dish-msg p a.add-cart{
	width: 33px;
	height:33px;
	padding:4px 3px;
	background:#C8E192 ;
	border-radius: 50%;
	border:none;
	color:#333333;
}
#dishItems.active div.dishItem ul li.dish-msg p a.add-cart img{
	display: block;
}
#dishItems.active div.dishItem ul li.dish-msg p a.add-cart span{
	display: none;
}
/*点餐菜单*/
#order div.order-menu{
	width: 50%;
	height:100%;
	position: fixed;
	top:0;
	right: 0;
	z-index: 101;
	transition: all 0.3s;
}
#order div.order-menu.active{
	right: 0;
}
#order div.order-menu.close{
	right:-50%;
}
#order div.order-menu div.menucontent{
	width:100%;
	height: 100%;
	background: #FFFFFF;
}
#order div.order-menu div.menuBtn{
	position: absolute;
	top:50%;
	right:-webkit-calc(100% - 20px);
	transform: translateY(-50%);
	width: 50px;
	height: 73px;
}
#order div.order-menu div.menucontent ul{
	padding:10px;
}
#order div.order-menu div.menucontent ul li{
	padding:0 10px;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #4457AB;
}
#order div.order-menu div.menucontent ul li a{
	display: block;
	width:100%;
	height: 100%;
}
/*购物车按钮*/
#cart-button{
	position: absolute;
	bottom: 15px;
	right: 20px;
}
#cart-button>a{
	display: block;
	width:55px;
	height: 47px;
}
#cart-button img{
	width: 55px;
	border-radius: 10px;
	box-shadow: 0 0 8px #666666;
}
#cart-button>a>span{
	height:15px;
	line-height: 15px;
	position: absolute;
	top:2px;
	left:50%;
	transform: translateX(-50%);
	padding:1px 5px 0 5px;
	background: red;
	font-size: 0.8em;
	border-radius: 3px;
	color: #FFFFFF;
}
#cart-button>span.active{
	border-color:red ;
}
/*加入购物车弹出框*/
#cart-dialog-outer{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left: 0;
	background: rgba(200,200,200,0.8);
	z-index: 102;
	display: none;;
    justify-content: center;
    align-items: center;
}
#cart-dialog{
	width: 90%;
	border:1px solid #333333;
	background: #FFFFFF;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	padding:10px;
}
#cart-dialog.active{
	animation: openDialog 0.2s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes openDialog{
	from{
		width: 0;
		height: 0;
		opacity: 0;
	}
	to{
		width: 90%;
		height: auto;
		opacity: 1;
	}
}
#cart-dialog.close{
	animation: closeDialog 0.2s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes closeDialog{
	from{
		width: 90%;
		height: auto;
		opacity: 1;		
	}
	to{
		width: 0;
		height: 0;
		opacity: 0;
	}
}
#cart-dialog.adddish{
	animation: addDialog 0.8s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes addDialog{
	0%{
		width: 90%;
		height: 50px;
		opacity: 1;
		transform: rotateZ(0deg);
		overflow: hidden;
	}
	30%{
		width: 50px;
		height: 60px;
		overflow: hidden;
		opacity: 1;
	}
	31%{
		width: 50px;
		height: 60px;
		opacity:1;
		overflow: hidden;
		position: absolute;
		top:-webkit-calc(50% - 30px);
		left: -webkit-calc(50% - 25px);
		top:calc(50% - 30px);
		left:calc(50% - 25px);
		transform: rotateZ(0deg);
	}
	50%{
		width: 50px;
		height: 60px;
		opacity:1;
		position: absolute;
		top:30%;
		left:55%;
		overflow: hidden;
		transform: rotateZ(0deg);
	}
	100%{	
		width: 25px;
		height: 30px;
		position: absolute;
		top:-webkit-calc(100% - 70px);
		left:-webkit-calc(100% - 60px);
		opacity:1;
		overflow: hidden;
		transform: rotateZ(1440deg);
	}
}
#cart-dialog>p.close-dialog{
	text-align: right;
	font-size: 1.2em;
	margin-top:-7px;
	margin-right: -7px;
}
#cart-dialog>p.close-dialog span{
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background: red;
	color: #FFFFFF;
}
#cart-dialog div.cart-dish-name{
	border-bottom: 1px dashed #999999;
	margin-top:2px
}
#cart-dialog div.cart-dish-name span.lf{
	font-size: 1.2em;
	font-weight: bold;
}
#cart-dialog div.cart-dish-name span.rt{
	padding-top:8px;
	color:red;
}
#cart-dialog div.make-way{
	padding:10px 0 5px 0;
}
#cart-dialog div.make-way ul li{
	margin-bottom: 5px;
}
#cart-dialog div.make-way ul li span{
	border:1px solid #999999;
	line-height: 25px;
	height: 25px;
	padding:0px 10px;
	margin-right: 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}
#cart-dialog div.make-way ul li span.active{
	border-color: red;
	color:red
}
#cart-dialog div.cart-img{
	width:100%;
	margin:5px auto 0;
}
#cart-dialog div.cart-img img{
	width: 100%;
}
#cart-dialog div.cart-num{
	margin-top:10px;
}
#cart-dialog div.cart-num a{
	float: left;
	height: 30px;
	line-height: 30px;
	border:1px solid #999999;
	border-right: none;
}
#cart-dialog div.cart-num a:last-child{
	border-right: 1px solid #999999;
}
#cart-dialog div.cart-num a.reduce,#cart-dialog div.cart-num a.add{
	font-size: 1.3em;
	width: 30px;
	text-align: center;
	font-weight: bold;
	color:red
}
#cart-dialog div.cart-num a.numBer{
	padding:0 7px;
	font-size: 0.8em;
}
#cart-dialog div.cart-num p.rt{
	background: red;
	height: 30px;
	line-height: 30px;
	padding:0 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	color:#FFFFFF;
}
/*购物车*/
#shopcart,#confirm-order{
	width: 100%;
	height: 100%;
	padding:0 10px;
	background: rgba(255,255,255,0.8);
	overflow-y:auto ;
}
#shopcart div.cart-title{
	padding:10px 0;
}
#shopcart div.user-msg{
	background: rgba(255,255,255,0.7);
	width: -webkit-calc(100% - 10px);
	margin:5px auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#shopcart div.user-msg p.order-time{
	margin-top:10px
}
#shopcart div.user-msg p.order-time,#shopcart div.user-msg p.yongcan-way{
	padding:0 10px;
}
#shopcart div.user-msg p.yongcan-way{
	margin-top:8px
}
#shopcart div.user-msg p.yongcan-way span.tangshi,#shopcart div.user-msg p.yongcan-way span.dabao{
	width: 30px;
	height: 50px;
	padding-top:30px;
	font-size: 0.8em;
}
#shopcart div.user-msg p.yongcan-way span.yongcan-way-text{
	line-height: 50px;
}
#shopcart div.user-msg p.yongcan-way span.tangshi{
	background: url("../img/tangshi.png") no-repeat;
	margin-right: 10px;
}
#shopcart div.user-msg p.yongcan-way span.tangshi.active{
	background: url("../img/tangshi-active.png") no-repeat;
	color:red
}
#shopcart div.user-msg p.yongcan-way span.dabao{
	background: url("../img/dabao.png") no-repeat;
}
#shopcart div.user-msg p.yongcan-way span.dabao.active{
	background: url("../img/dabao-active.png") no-repeat;
	color:red
}
#shopcart div.user-msg>div{
	padding:0 10px;
}
#shopcart div.user-msg>div>div{
	color:#DB4916;
}
#shopcart div.user-msg>div:first-child{
	padding-top:5px;
	border-bottom: 1px dashed #cccccc;
}
#shopcart div.user-msg>div.totle{
	border-top:1px solid #cccccc;
	height: 35px;
	line-height: 35px;
}
#shopcart div.cart-msg ul.addmsg li{
	height: 25px;
	line-height: 25px;
}
#shopcart div.cart-msg ul.addmsg li span.u-number,#shopcart div.cart-msg ul.addmsg li span.beizhu{
	color: red;
}
#shopcart div.cart-msg div.totle{
	margin-top:5px;
}
#shopcart div.cart-msg div.totle span.totle-num,#shopcart div.cart-msg div.totle span.totle-price{
	margin-left: 3px;
	color: red;
}
#shopcart div.cart-msg div.totle span.totle-price{
	font-size: 1.1em;
	font-weight: bold;
}
/*购物车菜品列表*/
#cartItems{
	padding-bottom: 65px;
	max-height: -webkit-calc(100% - 165px);
	overflow-y: auto;
	background: rgba(255,255,255,0.7);
	width: -webkit-calc(100% - 10px);
	margin:10px auto 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#cartItems>p{
	height: 35px;
	line-height: 35px;
	font-size: 1.1em;
	border-bottom: 1px dashed sandybrown;
}
#cartItems ul{
	padding:5px;
	border-bottom: 1px dashed sandybrown;
}
#cartItems ul li.dish-img{
	width:80px;
}
#cartItems ul li.dish-img img{
	width: 100%;
}
#cartItems ul li.dish-msg{
	width: -webkit-calc(100% - 85px);
	margin-left: 5px;
}
#cartItems ul li.dish-msg p.dish-name{
	height: 20px;
}
#cartItems ul li.dish-msg p.lf,#cartItems ul li.dish-msg p.rt{
	height: 30px;
	line-height: 30px;
}
#cartItems ul li.dish-msg p.lf{
	color:red
}
#cartItems ul li.dish-msg p.rt a{
	width:30px;
	height: 30px;
	line-height: 30px;
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	border:1px solid red;
	color: red;
}
#cartItems ul li.dish-msg p.rt a.jian{
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
	border-right: none;
}
#cartItems ul li.dish-msg p.rt a.jia{
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border-left: none;
}
#cartItems ul li.dish-msg p.rt span{
	height: 30px;
	line-height: 30px;
	width:30px;
	border:1px solid red;
	border-right: none;
	border-left: none;
}
/*备注弹出框*/
#beizhu-dialog{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 102;
	color:#ffffff;
	display: none;
}
#beizhu-dialog div.beizhu-dialog-inner>p{
	height: 63px;
	line-height: 44px;
	font-size: 1.2em;
	background: url("../img/dialog-title.png") no-repeat center center;
	margin-bottom: 10px;
}
#beizhu-dialog div.beizhu-dialog-inner{
	width: 90%;
	padding-top:20px;
	margin:0 auto;
}
#beizhu-dialog ul.sel-num li{
	width: -webkit-calc(25% - 10px);
	height: 30px;
	line-height: 30px;
	color: #ffffff;
	border:1px solid antiquewhite;
	text-align: center;
	margin:5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
#beizhu-dialog ul.sel-num li.active{
	background: #F5885C;
}
#beizhu-main{
	width: 100%;
	background:none;
}
textarea{
	line-height: 20px;
	color: #ffffff;
	resize: auto;
	padding:5px 10px;
	outline: none;
	
}
#beizhu-dialog div.dialogBtn p{
	width: 50%;
	margin-top:30px;
	font-size: 1.3em;
}
#beizhu-dialog div.dialogBtn p span{
	padding:8px 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
#beizhu-dialog div.dialogBtn p.lf span{
	background: #CB2D2C;
}
#beizhu-dialog div.dialogBtn p.rt span{
	background: #5ACE79;
}
/*加菜,下单按钮*/
#continue-order-button,#place-order-button,#cancel-order-button{
	width: 55px;
	height: 47px;
	position: absolute;
	bottom: 15px;
	padding-top:3px;
	background: url("../img/button-bg.png") no-repeat;	
}
#continue-order-button img,#place-order-button img,#cancel-order-button img{
	width: 25px;
}
#continue-order-button{
	left: 50%;
	transform: translateX(-50%);
}
#place-order-button,#cancel-order-button{
	right: 20px;
}
/*确认订单页面*/
#confirm-order{
	padding:0 0 60px 0;
	background: rgba(255,255,255,0.5);
}
#confirm-order div.confirm-order-title,#youhui div.youhuipage-title{
	height: 60px;
	line-height: 60px;
	font-size: 1.5em;
	font-weight: bold;
	color:#632A19;
}
#confirm-order div.orderCon{
	width:100%;
	padding:10px;
	background: #FFFFFF;
	margin-bottom: 5px;
}
#confirm-order div.orderCon>p{
	height: 30px;
	line-height: 30px;
	font-size: 1.1em;
	font-weight: bold;
}
#orderItems ul li{
	padding:5px 0;
	/*border-top: 1px dashed #632A19;*/
}
#orderItems ul.orderItems-title{
	border-top:none
}
#orderItems{
	border-top:1px solid #632A19;
	margin-bottom: 15px;
}
#orderItems ul li.order-name{
	width: calc(100% - 160px);
	width: -webkit-calc(100% - 160px);
	padding-left: 5px;
}
#orderItems ul li.order-count,#orderItems ul li.order-price{
	width:80px;
}
#confirm-order div.totle-order{
	padding:10px;
	background: #FFFFFF;
}
#confirm-order div.totle-order>p{
	padding-bottom: 5px;
	border-bottom: 1px solid #632A19;
}
#confirm-order div.totle-order p.youhui{
	color:#5ACE79;
}
#confirm-order div.totle-order ul.totle-price{
	padding:5px 0;
}
#confirm-order div.totle-order li{
	height: 25px;
	line-height: 25px;
}
#confirm-order div.totle-order li.yingfu{
	font-size: 1.2em;
}
#confirm-order div.totle-order li.yingfu p.rt{
	color: red;
}
#confirm-order div.tishi{
	background: #FFFFFF;
	padding:10px 0;
	color:red;
	margin-top:5px;
}
#confirm-order div.order-price{
	width:calc(100% - 20px);
	margin:10px auto;
	height: 40px;
	line-height: 40px;
	background: red;	
	font-size: 1.2em;
}
#confirm-order div.order-price a{
	color: #FFFFFF;
}
/*取消订单弹出框*/
#cancel-order-dialog{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
    align-items: center;
	position: absolute;
	top:0;
	left: 0;
	background: rgba(0,0,0,0.7);
	z-index: 103;
	display: none;
}
#cancel-order-dialog div.cancel-inner{
	background: #FFFFFF;
	width: calc(100% - 20px);
	width:-webkit-calc(100% - 20px);
	padding:10px;
}
#cancel-order-dialog div.cancel-inner img{
	width: 150px;
}
#cancel-order-dialog div.cancel-inner p.cancel-text{
	width:calc(100% - 150px);
	width: -webkit-calc(100% - 160px);
	margin-left: 10px;
	padding-top:25px;
	font-size: 1.3em;
	color:#E5004B;
}
#cancel-order-dialog div.cancel-inner div.cancel-button>p{
	font-size: 1.2em;
	width:100px;
	height: 40px;
	line-height: 40px;
	margin-top:20px;
	color:#FFFFFF;
	margin-left: calc((100% - 200px)/3);
	margin-left: -webkit-calc((100% - 200px)/3);
}
#cancel-order-dialog div.cancel-inner div.cancel-button>p a{
	color:#FFFFFF;
}
#cancel-order-dialog div.cancel-inner div.cancel-button>p.cancel-cancel-button{
	background: #1AA260;
}
#cancel-order-dialog div.cancel-inner div.cancel-button>p.cancel-confirm-button{
	background: #DE5347;
}
#confirm-order div.selYouhui,#confirm-order div.selpayWay{
	padding:10px;
	background: #FFFFFF;
	margin-bottom: 5px;
}
#confirm-order div.selpayWay p.rt{
	color:#0AB70E;
}
#confirm-order div.selYouhui p.youhui-text{
	width: 100%;
	line-height: 20px;
	color:red;
	padding-top:10px;
	font-size: 0.8em;
	border-top: 1px solid saddlebrown;
}
#confirm-order div.confirm-order-con{
	background: rgba(240,240,240,0.8);
	border:1px solid #dddddd;
}
#confirm-order div.selYouhui a{
	float: left;
	width: 100%;
	height: 25px;
	line-height: 25px;

}
/*优惠页面*/
#youhuiBack{
	width: 55px;
	height: 47px;
	background: url("../img/button-bg.png") no-repeat;
	line-height: 45px;
	position: absolute;
	bottom: 15px;
	right: 20px;
}
#youhui div.youhuiquan,#youhui div.dazheka{
	background: #FFFFFF;
	padding: 5px 10px;
}
#youhui div.youhuiquan-title,#youhui div.dazheka-title{
	border-bottom: 1px dashed saddlebrown;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 35px;
}
#youhui div.youhuiquan p.youhuiimgs,#youhui div.dazheka p.youhuiimgs{
	margin:5px 0;
	width: 100%;
	padding:0 10px;
	position: relative;
}
#youhui div.youhuiquan p.youhuiimgs img,#youhui div.dazheka p.youhuiimgs img{
	width: 100%;
}
#youhui div.youhuiCon p.canClick span{
	position: absolute;
	top:20px;
	right: 30px;
	font-size: 2em;
	font-weight: bold;
	color:#FF0000;
	display: none;
}
/*评价页面*/
#evaluate{
	background: rgba(255,255,255,0.8);
	padding-bottom: 60px;
	height: 100%;
	overflow-y:auto;
}
#evaluate>div.evaluateCon{
	padding: 10px;
	padding-top:0;
	background: #FFFFFF;
}
#evaluate div.evaluateCon div.evaluate-totleNum{
	text-align: right;
	border-bottom: 1px dashed #E6E6E6;
	height: 50px;
	line-height: 50px;
}
#evaluate div.evaluateCon div.evaluate-totleNum select{
	margin-top:7px;
	width: 60px;
	padding:0px 0 3px 5px;
	letter-spacing: 4.5px;
	background:;
	border:1px solid saddlebrown;
	color:#AE9088;
	outline: none;
}
#evaluate div.evaluateCon div.evaluate-totleNum select option{
	background:;
}
#evaluate>div.evaluate-title{
	height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    font-weight: bold;
    color: #632A19;
}
#evaluate div.evaluateCon ul.star{
	padding-top: 5px;
}
/*选择评价下拉框*/
.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
a {
	color: #555;
	text-decoration: none;
}
.container {
	width: 100%;
	position: relative;
}
.main,
.container > header {
	width: 150px;
    max-width: 960px;
    position: relative;
    padding: 0 10px;
    float: left;
    margin-top:5px
}
.container > header {
	padding: 40px 10px 50px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px rgba(255,255,255,0.8);
	margin-bottom: 30px;
}
.container > header h1 {
	font-size: 34px;
	line-height: 38px;
	margin: 0;
	font-weight: 700;
	color: #333;
	float: left;
}
.container > header h1 span {
	display: block;
	font-size: 20px;
	font-weight: 300;
}
.fleft {
	float: left;
	width: 49%;
	min-width: 300px;
}
.main p {
	color: #AAA;
	padding: 20px 30px 0px 0px;
	font-size: 20px;
	line-height: 34px;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
}
.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}
.codrops-top a:hover {
	background: rgba(255,255,255,0.8);
	color: #000;
}
.codrops-top span.right {
	float: right;
}
.codrops-top span.right a {
	float: left;
	display: block;
}
.codrops-demos {
	float: right;
	padding-top: 10px;
}
.codrops-demos a {
	display: inline-block;
	margin: 10px;
	color: #666;
	font-weight: 700;
	line-height: 30px;
	border-bottom: 4px solid transparent;
}
.cd-dropdown, .cd-select {
	position: relative;
	width: 120px;
	display: block;
}
.cd-dropdown > span {
	width: 120px;
	height: 30px;
	line-height: 30px;
	color: #999;
	font-weight: 700;
	font-size: 14px;
	background: #fff;
	display: block;
	padding: 0 70px 0 22px;
	position: relative;
	cursor: pointer;
}
.cd-dropdown > span:after {
	content: '\25BC';
	position: absolute;
	right: 0px;
	width: 40px;
	text-align: center;
	font-size: 12px;
	padding-top: 6px;
	height: 70%;
	line-height: 17px;
	border-left: 1px solid #ddd;
}
.cd-dropdown.cd-active > span:after {
	content: '\25B2';
}
.cd-dropdown ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
}
.cd-dropdown ul li {
	display: block;
}
.cd-dropdown ul li span {
	width: 120px;
	background: #fff;
	line-height:30px;
	padding: 0 70px 0 0px;
	display: block;
	color: #bcbcbc;
	cursor: pointer;
	font-weight: 700;
}
.cd-dropdown ul li span:active{
	color: #fc756f;
}

.cd-dropdown > span, .cd-dropdown ul li span {
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
 .cd-dropdown > span span[class^="icon-"], .cd-dropdown > span span[class*=" icon-"] {
 padding: 0 30px 0 45px;
}
.cd-select {
	border: 1px solid #ddd;
}
.cd-dropdown span[class^="icon-"]:before, 
.cd-dropdown span[class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	position: absolute;
	font-size: 40px;
	line-height: 40px;
	width: 50px;
	top: 50%;
	left: 15px;
	margin-top: -20px;
	text-align: center;
}
.cd-dropdown > span, .cd-dropdown ul li:nth-last-child(-n+3) span {
 box-shadow: 0 0px 1px rgba(0, 0, 0, 0.2);
}
.cd-dropdown ul {
	position: absolute;
	top: 0px;
	width: 120px;
}
.cd-dropdown ul li {
	position: absolute;
	width: 100%;
}
.cd-active.cd-dropdown > span {
	color: #fc756f;
}
.cd-active.cd-dropdown > span, .cd-active.cd-dropdown ul li span {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
} 
.cd-active.cd-dropdown ul li span {
	-webkit-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
/*用户评价页面*/
#assess{
	position: relative;
}
#assess div.dishCon{
	padding:5px;
	border-bottom: 1px solid #CCCCCC;
	background: #FFFFFF;
}
#assess div.dishCon div.lf img{
	width: 100px;
	margin-right: 5px;
}
#assess div.dishCon div.rt{
	width: calc(100% - 105px);
	width: -webkit-calc(100% - 105px);
}
#assess div.dishCon div.rt p{
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#assess div.dishCon div.rt p.dishCount,#assess div.dishCon div.rt p.buyTime{
	font-size: 0.8em;
}
#assess div.dishCon div.rt p.dishCount span{
	color: red;
}
#assess div.assessMain{
	background: #FFFFFF;
}
#assess ul.assessMain-zongp li{
	width: 20%;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	padding:5px;
}
#assess ul.assessMain-zongp li img{
	width: 100%;
}
#assess ul.assessMain-zongp li:last-child{
	border-right: none;
	width: calc(20% - 1px);
	width: -webkit-calc(20% - 1px);
}
#assess ul.assessMain-zongp li.active{
	border-bottom: none;
}
#assess div.assessStar ul.zongStar img{
	width: 35px;
}
#assess div.assessStar ul.zongStar{
	border-bottom: 1px solid #CCCCCC;
	padding:10px;
}
#assess div.assessStar ul.zongStar li{
	display: inline-block;
	width: 20%;
}
#assess div.assessStar ul.assessStar-list>li{
	line-height: 30px;
	padding:5px 10px;
	font-size: 1.1em;
}
#assess div.assessStar ul.assessStar-list{
	border-bottom: 1px solid #CCCCCC;
}
#assess div.assessStar ul.assessStar-list>li ul.lf{
	width: calc(100% - 70px);
	width: -webkit-calc(100% - 70px);
}
#assess div.assessStar ul.assessStar-list>li p{
	padding-top:5px
}
#assess div.assessStar ul.assessStar-list>li ul.lf li{
	display: inline-block;
	width: 20%;
}
#assess div.assessStar ul.assessStar-list>li ul.lf li img{
	width: 35px;
}
#textCon{
	width:100%;
	min-height: 50px;
	padding:10px;
	outline-color:#FFFFFF
}
#assess div.assessStar div.addimgs{
	padding:5px 10px;
}
#assess div.assessStar div.addimgs ul li{
	width: 70px;
	border:1px solid #CCCCCC;
	height: 70px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#assess div.assessStar div.addimgs ul li.addIcon{
	border:1px dashed #CCCCCC
}
#assess div.assessStar div.addimgs ul li p:first-child{
	margin-top: 10px;	
}
#assess div.assessStar div.addimgs ul li>img{
	width: 100%;
	height: 100%;
}


