<div id="account">
	<div class="user-title boxshadow">
		<div class="title-text textcenter">
			个人中心
		</div>
		<div class="user-head textcenter boxshadow">
			<a href="#/usercenter" class="a-block" ng-click="addClass($event)">
				<img ng-src="{{usermsg.headimgurl}}" alt="" />
			</a>
			<img src="img/head-light2.png" alt="" />
		</div>
	</div>
	<div class="user-main">
		<p class="user_name textcenter">{{usermsg.name}}</p>
		<div class="signature textcenter"><p contenteditable="true">个人签名</p></div>
		<ul class="user-list textcenter clear">
			<li class="lf borderRadius5">
				<a href="#/myorder/{{0}}" class="a-block" ng-click="addClass($event)">
					<img src="img/allorder3.png" alt="" />
					<p>全部订单</p>
				</a>
			</li>
			<li class="lf borderRadius5">
				<a href="#/myorder/{{1}}" class="a-block" ng-click="addClass($event)">
					<img src="img/underorder3.png" alt="" />
					<p>待支付</p>
				</a>
			</li>
			<li class="lf borderRadius5">
				<a href="#/myorder/{{2}}" class="a-block" ng-click="addClass($event)">
					<img src="img/use3.png" alt="" />
					<p>待使用</p>
				</a>
			</li>
			<li class="lf borderRadius5">
				<a href="#/myorder/{{3}}" class="a-block" ng-click="addClass($event)">
					<img src="img/assess3.png" alt="" />
					<p>待评价</p>
				</a>
			</li>
		</ul>
		<div class="huiyuancenter boxshadow">
			<a class="a-block" href="#/vipcenter" ng-click="addClass($event)">
				<img src="img/vip3.png" alt="" />会员中心
				<span class="rt">&gt;</span>
			</a>
			
		</div>
	</div>
	<div ng-include="'tpl/include/menu-button.html'"></div>		
</div>
