<div id="assess">
	<div class="dishCon clear">
		<div class="lf">
			<img src="img/01-xin_07.png" alt="" />
		</div>
		<div class="rt">
			<p class="dishName">
				鱼香肉丝+宫保鸡丁+辣子鸡丁+小炒肉+酸菜鱼+鱼香茄子
			</p>
			<p class="dishCount">
				数量: <span>6</span>
				总价: <span>&#165;125.00</span>
			</p>
			<p class="buyTime">
				购买时间: <span>2017-0.3-25</span>
			</p>
		</div>
	</div>
	<div class="assessMain">
		<ul class="assessMain-zongp clear textcenter">
			<li class="lf" ng-click="addHeart($event)"><p><img src="img/cha.png" alt="" />差</p></li>
			<li class="lf" ng-click="addHeart($event)"><p><img src="img/yiban.png" alt="" />一般</p></li>
			<li class="lf" ng-click="addHeart($event)"><p><img src="img/manyi.png" alt="" />满意</p></li>
			<li class="lf" ng-click="addHeart($event)"><p><img src="img/henmanyi.png" alt="" />很满意</p></li>
			<li class="lf" ng-click="addHeart($event)"><p><img src="img/tuijian.png" alt="" />强烈推荐</p></li>
		</ul>
		<div class="assessStar">
			<ul class="zongStar textcenter">
				<li>
					<img src="img/heart-full.png" alt="" />
				</li><li>
					<img src="img/heart-full.png" alt="" />
				</li><li>
					<img src="img/heart-full.png" alt="" />
				</li><li>
					<img src="img/heart-full.png" alt="" />
				</li><li>
					<img src="img/heart-full.png" alt="" />
				</li>
			</ul>
			<ul class="assessStar-list textcenter">
				<li class="clear">
					<p class="lf">就餐环境 :</p>
					<ul class="lf textcenter">
						<li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li>
					</ul>
				</li>
				<li class="clear">
					<p class="lf">菜品口味 :</p>
					<ul class="lf textcenter">
						<li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li>
					</ul>
				</li>
				<li class="clear">
					<p class="lf">就餐服务 :</p>
					<ul class="lf textcenter">
						<li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li><li>
							<img src="img/star-empty.png" alt="" />
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="assessText">
				<div id="textCon" contenteditable="true"><p>菜品口味还满足您的味蕾吗？服务还到位吗?环境是否符合您的要求？谈谈您的用餐感受吧！</p></div>
			</div>
			<div class="addimgs">
				<ul class="clear">
					<!--<li class="lf">
						<img src="img/01-xin_07.png" alt="" />
					</li>
					<li class="lf">
						<img src="img/01-xin_07.png" alt="" />
					</li>
					<li class="lf">
						<img src="img/01-xin_07.png" alt="" />
					</li>
					<li class="lf">
						<img src="img/01-xin_07.png" alt="" />
					</li>-->
					<li class="addIcon lf">
						<label for="addImgs">
							<p class='textcenter'><img src="img/camaro.png" alt="" /></p>
						<p class="textcenter">添加图片</p>
						</label>
						<input type="file" accept="image/*" id="addImgs"/ multiple="multiple">	
					</li>
				</ul>
			</div>
	</div>
	<div id="cancel-assess-dialog">
		<div class="cancel-inner boxshadow borderRadius10">
			<div class="tupian clear">
				<p class="lf">
					<img src="img/cancen-order-bg.png" alt="" />	
				</p>
				<p class="lf cancel-text">
					确认取消评论吗？
				</p>
			</div>
			<div class="cancel-button">
				<p class="cancel-cancel-button lf textcenter borderRadius5" ng-click="closeDialog()">取消</p>
				<p class="cancel-confirm-button lf textcenter borderRadius5"><a href="#/myorder/{{3}}"  ng-click="addClass($event)" class="a-block">确定</a></p>
			</div>
		</div>
	</div>
	<div id="cancel-assess-button" class="textcenter boxshadow buttonColor borderRadius10 buttonNormal" ng-click="openDialog()">
		<img src="img/cancel-order.png" alt="" />
		<p class="textcenter">取消</p>
	</div>
	<div id="publish-assess-button" class="textcenter boxshadow buttonColor borderRadius10 buttonNormal">
		<a href="" class="buttonColor">
			<img src="img/publish.png" alt="" />
			<p class="textcenter">发布</p>
		</a>
		
	</div>
</div>
