<div id="details">
	<div class="usercenter-title textcenter boxshadow">
		<a href="#/myorder/{{0}}" ng-click="addClass($event)">
			<img src="img/back.png" alt="" />
		</a>
		订单详情
	</div>
	<div class="detailsIcon details-yiwancheng" ng-if="showTitle==0">
		<span class="textcenter lf">交易成功</span>
		<span class="iconImg textcenter lf"></span>
	</div>
	<div class="detailsIcon details-daishiyong" ng-if="showTitle==2">
		<span class="textcenter lf">待使用</span>
		<span class="iconImg textcenter lf"></span>
	</div>
	<div class="orderOk-con boxshadow borderRadius10" ng-if="showTitle==2">
		<ul class="clear">
			<li class="clear"><span class="lf">券&nbsp;&nbsp;&nbsp;码:</span><p class="rt textcenter">12df45d4sf5</p></li>
			<li class="clear"><span class="lf">二维码: </span><p class="rt textcenter"><img src="img/qr-code.png" alt="" /></p></li>
		</ul>
	</div>
	<div class="myorder-list boxshadow">
	<div class="yiwancheng myorder-list-con">
					<div class="myOrder-title">
						<img src="img/logo.png" alt="" />
						<div class="tubiao-icon textcenter"></div>
					</div>
					<ul class="myorder-list-main">
						<li class="clear">
							<div class="lf"><img src="img/001.jpg" alt="" /></div>
							<div class="rt">
								<p class="myorder-msg clear">
									<span class="lf myorder-name">分类看到手机付款了等级分类贷款</span>
									<span class="rt myorder-price">&#165;35.00</span>
								</p>
								<p class="myorder-beizhu clear">
									<span class="lf">做法:微辣</span>
									<span class="rt">X 1</span>
								</p>
							</div>
						</li>
						<li class="clear">
							<div class="lf"><img src="img/001.jpg" alt="" /></div>
							<div class="rt">
								<p class="myorder-msg clear">
									<span class="lf myorder-name">分类看到手机付款了等级分类贷款</span>
									<span class="rt myorder-price">&#165;35.00</span>
								</p>
								<p class="myorder-beizhu clear">
									<span class="lf">做法:微辣</span>
									<span class="rt">X 1</span>
								</p>
							</div>
						</li>
						<li class="clear">
							<div class="lf"><img src="img/001.jpg" alt="" /></div>
							<div class="rt">
								<p class="myorder-msg clear">
									<span class="lf myorder-name">分类看到手机付款了等级分类贷款</span>
									<span class="rt myorder-price">&#165;35.00</span>
								</p>
								<p class="myorder-beizhu clear">
									<span class="lf">做法:微辣</span>
									<span class="rt">X 1</span>
								</p>
							</div>
						</li>
						<li class="clear">
							<div class="lf"><img src="img/001.jpg" alt="" /></div>
							<div class="rt">
								<p class="myorder-msg clear">
									<span class="lf myorder-name">分类看到手机付款了等级分类贷款</span>
									<span class="rt myorder-price">&#165;35.00</span>
								</p>
								<p class="myorder-beizhu clear">
									<span class="lf">做法:微辣</span>
									<span class="rt">X 1</span>
								</p>
							</div>
						</li>
						<li class="clear">
							<div class="lf"><img src="img/001.jpg" alt="" /></div>
							<div class="rt">
								<p class="myorder-msg clear">
									<span class="lf myorder-name">分类看到手机付款了等级分类贷款</span>
									<span class="rt myorder-price">&#165;35.00</span>
								</p>
								<p class="myorder-beizhu clear">
									<span class="lf">做法:微辣</span>
									<span class="rt">X 1</span>
								</p>
							</div>
						</li>
					</ul>
					<div class="totle-msg">
						<div class="myorder-totle-price clear">
							<ul>
								<li class="clear">
									<span class="lf name">应付金额</span><span class="rt con">&#165;35.00</span>
								</li>
								<li class="clear">
									<span class="lf name">优惠金额</span><span class="rt con">&#165;35.00</span>
								</li>
								<li class="clear">
									<span class="lf name">实付金额</span><span class="rt con">&#165;35.00</span>
								</li>
							</ul>
							
						</div>
						<div class="myoder-msg-list clear">
							<ul>
								<li>订单编号:4532154646</li>
								<li>微信交易号:4454664645454545</li>
								<li>创建时间:2017-03-29 20:32:42</li>
								<li>付款时间:2017-03-29 20:32:42</li>
								<li>使用时间:2017-03-29 20:32:42</li>
							</ul>
						</div>
					</div>
			</div>
	</div>
	<div class="clear boxshadow" id="details-handle">
		<a class="zaigou rt handleWay">再次购买</a>
		<a class="deleteOrder rt">删除订单</a>
	</div>
</div>