<div id="order">
	<div class="search clear boxshadow">
		<input type="text" id="search-input" class="lf" placeholder="请输入菜品名称"/>
		<span class="lf textcenter">
			<img src="img/dish-search.png" alt="" />
		</span>
	</div>
	<div class="style clear boxshadow textcenter">
		<img src="img/style.png" alt="" />
	</div>
	<div class="order-menu active">
		<div class="menucontent">
			<p class="textcenter">菜品分类</p>
			<ul>
				<li ng-repeat="fooditems in foodList">
					<a href="" name="{{fooditems.fCode}}" ng-click="autoScroll($event)">{{fooditems.foodName}}</a>
				</li>
			</ul>
		</div>
		<div class="menuBtn active">
			<img src="img/order-menu-left.png" alt="" />
		</div>
	</div>
	<div class="wellcome-title boxshadow active">
		<img src="img/wellcome-img.png" alt="" />
	</div>
	<div id="dishItems">
		<div class="dishItem clear" ng-repeat="fooditems in foodList" on-finish-render-filters>
			<p class="textcenter" id="{{fooditems.fCode}}">{{fooditems.foodName}}</p>
			<div class="dishItem-con">
				<ul class="clear dish{{foodinfoList.foodinfo.id}}" ng-repeat="foodinfoList in fooditems.foodinfos" title="dish{{foodinfoList.foodinfo.id}}" ng-if="foodinfoList.foodinfo!=null">
					<li class="lf dish-img" title="{{foodinfoList.foodtype}}">
						<img src="img/01-xin_07.png" alt="" />
					</li>
					<li class="lf dish-msg" title="{{foodinfoList.foodinfo.fCode}}">
						<p class="dish-name">{{foodinfoList.foodinfo.foodName}}</p>
						<p>
							<span class="lf dish-price">&#165;</span>
							<span class="lf dish-price price-num"> {{foodinfoList.foodinfo.price}}/</span><span  class="lf dish-price danwei">{{foodinfoList.enumitem.enumItemName}}</span>
							<a class="rt add-cart textcenter" ng-click="addDish($event)" title="{{[foodinfoList.foodinfo.foodName,foodinfoList.foodinfo.price,foodinfoList.enumitem.enumItemName,'dish'+foodinfoList.foodinfo.id]}}">
								<span >来一份</span>
								<img src="img/cart-img.png" alt="" />
							</a>
						</p>
					</li>
			</ul>
			<ul class="clear dish{{foodinfoList.foodcomboInfo.foodcombo.id}}" ng-repeat="foodinfoList in fooditems.foodinfos" title="dish{{foodinfoList.foodcomboInfo.foodcombo.id}}" ng-if="foodinfoList.foodcomboInfo!=null">
					<li class="lf dish-img" title="{{foodinfoList.foodtype}}">
						<img src="img/01-xin_07.png" alt="" />
					</li>
					<li class="lf dish-msg" title="{{foodinfoList.foodcomboInfo.foodcombo.fCode}}">
						<p class="dish-name">{{foodinfoList.foodcomboInfo.foodcombo.typeName}}</p>
						<p>
							<span class="lf dish-price">&#165;</span>
							<span class="lf dish-price price-num"> {{foodinfoList.foodcomboInfo.foodcombo.price}}/</span><span  class="lf dish-price danwei">份</span>
							<a class="rt add-cart textcenter" ng-click="addDish($event)" title="{{[foodinfoList.foodcomboInfo.foodcombo.typeName,foodinfoList.foodcomboInfo.foodcombo.price,foodinfoList.enumitem.enumItemName,'dish'+foodinfoList.foodcomboInfo.foodcombo.id]}}">
								<span >来一份</span>
								<img src="img/cart-img.png" alt="" />
							</a>
						</p>
					</li>
			</ul>
			</div>
				
			
		</div>
	</div>
	<div id="cart-dialog-outer">
		<div id="cart-dialog">
			<p class="close-dialog"><span ng-click="closeDialog()">X</span></p>
			<div class="cart-dish-name clear">
				<span class="lf">{{dishInfo[0]}}</span>
				<span class="rt">&#165;{{dishInfo[1]}}/{{dishInfo[2]}}</span>
			</div>
			<div class="make-way" ng-if="showBZ">
				<p>请选择做法(必选):</p>
				<ul>
					<li class="clear" ng-repeat="tasteList in taste" ng-if="tasteList.tasteinfodetails!=''">
						<p>{{tasteList.tasteTypeName}}:</p>
						<span ng-repeat="tasteItem in tasteList.tasteinfodetails" class="lf" id="{{tasteItem.id}}" ng-click="addActive($event)">{{tasteItem.tasteName}}</span>
					</li>
				</ul>
			</div>
			<div class="cart-img textcenter">
				<img class="boxshadow" src="img/01-xin_07.png" alt="" />
			</div>
			<div class="cart-num clear">
				<p class="lf">
					<a class='reduce' href="" ng-click="reduceNum()">&#8211</a>
					<a href="" class="numBer">
						<span>1</span>{{dishInfo[2]}}
					</a>
					<a class="add" href="" ng-click="addNum()">&#10010</a>
				</p>
				<p class="rt addCart" title="{{dishInfo[3]}}">加入购物车</p>
			</div>
		</div>
	</div>
	
	<div ng-include="'tpl/include/menu-button.html'"></div>
	<div  id="cart-button">
		<a class="canClickA"  href="#/shopcart/{{ulmsg}}" ng-click="addClass($event)" title="shopcart">
			<span class="cart-number">0</span>
			<img src="img/cart-button.png" alt="" />
		</a>
		<a class="uncanClickA">
			<span class="cart-number">0</span>
			<img src="img/cart-button.png" alt="" />
		</a>
	</div>
</div>
