<div id="order">
	<div class="search clear boxshadow">
		<input type="text" id="search-input" class="lf" placeholder="请输入菜品名称"/>
		<span class="lf textcenter">
			<img src="img/dish-search.png" alt="" />
		</span>
	</div>
	<div class="style clear boxshadow textcenter">
		<img src="img/style.png" alt="" />
	</div>
	<div class="order-menu active">
		<div class="menucontent">
			<ul>
				<li><a href="" name="recai" ng-click="autoScroll($event)">热菜</a></li>
				<li><a href="" name='liangcai' ng-click="autoScroll($event)">凉菜</a></li>
				<li><a href="" name="yinpin" ng-click="autoScroll($event)">饮品</a></li>
			</ul>
		</div>
		<div class="menuBtn active">
			<img src="img/order-menu-left.png" alt="" />
		</div>
	</div>
	<div class="wellcome-title boxshadow active">
		<img src="img/wellcome-img.png" alt="" />
	</div>
	<div id="dishItems">
		<div class="dishItem clear">
			<p class="textcenter" id="recai">热菜</p>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
		</div>
		<div class="dishItem clear">
			<p class="textcenter" id="liangcai">凉菜</p>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
		</div>
		<div class="dishItem clear">
			<p class="textcenter" id="yinpin">饮品</p>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
			<ul class="clear">
				<li class="lf dish-img">
					<img src="img/01-xin_07.png" alt="" />
				</li>
				<li class="lf dish-msg">
					<p class="dish-name">附加费的空间</p>
					<p>
						<span class="lf dish-price">￥ 35.00/份</span>
						<a class="rt add-cart textcenter">
							<span>来一份</span>
							<img src="img/cart-img.png" alt="" />
						</a>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div ng-include="'tpl/include/menu-button.html'"></div>
	<div ng-include="'tpl/include/cart-button.html'"></div>
</div>
