<div id="youhui">
	<div class="youhuipage-title textcenter">
		优惠选择
	</div>
	<div class="youhuiCon">
		<div class="youhuiquan">
			<div class="youhuiquan-title">
				优惠券
			</div>
			<p class="youhuiimgs canClick" ng-click="selYouhui($event)">
				<span>&#10004</span>
				<img src="img/youhui.jpg" alt="5元优惠券" title="1"/>
			</p>
		</div>
		<div class="dazheka">
			<div class="dazheka-title">
				打折卡
			</div>
			<p class="youhuiimgs canClick" ng-click="selYouhui($event)">
				<span>&#10004</span>
				<img src="img/dazheka.png" alt="8折优惠"  title="2"/>
			</p>
		</div>
	</div>

	
	<div id="youhuiBack" class="boxshadow borderRadius10 textcenter">
		<a href="#/confirmorder/{{youhuiText}}">
			<img src="img/youhuiBack.png" alt="" />
		</a>	
	</div>
</div>
